.App {
  text-align: center;
  height: 100vh;
  /* background-color: #0B3939;
  color: white; */
}
.App-link {
  color: #61dafb;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button-container > div {
  margin: 10px;
}