.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.3)
}

.modal-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    z-index: 110;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    padding:1px;
    border-radius: 7px;
}
label{
    text-align: center;
    color: grey;
}

h2{
    color:#0b3939;
}