.App {
  text-align: center;
  height: 100vh;
  /* background-color: #0B3939;
  color: white; */
}
.App-link {
  color: #61dafb;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button-container > div {
  margin: 10px;
}
footer {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
}
header {
  height: 10%;
  background-color: #0b3939;
}
header img {
  height: 90%;
}
.loading-frame {
  display: flex;
  height: 65vh;
  width: 100vw;
}